<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
</head>
<body>
<table disabled="0px" cellspacing="1px" cellpadding="0px" width="200px" style="text-align: center">
    <tr>
        <td>序号</td>
        <td>姓名</td>
    </tr>
    <tr th:each="user,iterstat:${list}">
        <td th:text="${iterstat.index}"></td>
        <td th:text="${user}"></td>
    </tr>
</table>
</body>
</html>
